.container {
  margin-top: 100px;
}
.title {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 0 0 6% 0;
}

.border-dashed {
  border-style: dashed !important;
}

textarea.form-control {
  font-size: 1.1rem;
  line-height: 1.6;
  resize: vertical;
}

input {
  display: none;
}
