body,
p,
span,
h1,
h2,
h3,
div {
  cursor: default;
}

body {
  background-color: #0d1b2a !important;
  color: #ffffff;
  margin: 0;
  padding: 0;
  background: radial-gradient(circle at center, #112233 0%, #0d1b2a 100%)
    no-bound;
  background-attachment: fixed;
}
