@if (!isLoading) {

<div>
  <img
    src="http://localhost:8080/uploads/default-avatar.jpg"
    alt="profile pictsur"
  />
  <h2>
    Full Name: {{ userData.firstName }} {{ userData.lastName.toUpperCase() }}
  </h2>
  <p>Nickname: {{ userData.nickname }}</p>
  <p>Bio:</p>
  @if (userData.bio) {
  <p>{{ userData.bio }}</p>
  } @else {
  <p>nothing</p>
  } @if (!userData.isOwner) {
  <button>report User</button>
  } @if (!userData.isOwner && !userData.isFollower) {
  <button (click)="follow()">follow</button>
  } @else if (userData.isFollower) {
  <button (click)="follow()">unfollow</button>
  }
</div>
}
